
@media screen and (max-device-width: 900px) {


    #skill-window {
        vertical-align: middle;

        min-width:100%;
        min-height:100%;

    }
}

@media screen and (min-device-width: 900px) and (max-device-width: 1290px) {
    

    #skill-window {
        vertical-align: middle;

        min-width:60%;
        min-height:60%;

    }
}

@media screen and (min-device-width: 1290px) {
    

    #skill-window {
        vertical-align: middle;

        min-width:35%;
        min-height:35%;

    }
}

html {
    height: 100%;
    background-image: url("OSRS-ge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
body {
    display: grid;
    place-items: center;
    align-content: center;  

    margin-left: 5%;
    margin-right: 5%;

    min-height: 100%;
}


/* @media screen and (max-device-width: 900px) {


    #skill-grid {
        vertical-align: middle;

        min-width:60%;
        min-height:50%;

    }
} */

@media screen and (max-device-height: 600px) {
    #skill-grid {
        min-height:90%;
    }
}
@media screen and (min-device-height: 601px) and (max-device-height: 680px) {
    #skill-grid {
        min-height:50%;
    }
}
@media screen and (min-device-height: 700px) {
    #skill-grid {
        min-height:45%;
    }
}
@media screen and (min-device-height: 720px) and (min-device-width: 540px) {
    #skill-grid {
        min-height:68%;
    }
}
@media screen and (min-device-height: 800px) and (min-device-width: 1200px) {
    #skill-grid {
        min-height:88%;
    }
}
@media screen and (min-device-height: 840px) {
    #skill-grid {
        min-height:42%;
    }
}
@media screen and (min-device-height: 880px) and (max-device-width: 350px) {
    #skill-grid {
        min-height:36%;
    }
}
@media screen and (min-device-height: 1000px) {
    #skill-grid {
        min-height:70%;
    }
}
@media screen and (min-device-height: 1100px) {
    #skill-grid {
        min-height:63%;
    }
}
@media screen and (min-device-height: 1200px) {
    #skill-grid {
        min-height:60%;
    }
}
@media screen and (min-device-height: 1300px) {
    #skill-grid {
        min-height:41%;
    }
}
@media screen and (min-device-height: 1367px) {
    #skill-grid {
        min-height:36%;
    }
}

@media screen and (max-device-width: 699px){
    #skill-grid {
        min-width:66%;
    }
}
@media screen and (min-device-width: 700px) {
    #skill-grid {
        min-width:65%;
    }
}
@media screen and (min-device-width: 900px) {
    #skill-grid {
        min-width:40%;
    }
}
@media screen and (min-device-width: 1000px) {
    #skill-grid {
        min-width:40%;
    }
}

@media screen and (min-device-width: 1290px) {
    #skill-grid {
        min-width:23%;
    }
}

#skill-grid {
    position: absolute;
    /* background-image: url("ORS-inv-tabs2.jpg");
    background-repeat: no-repeat; */

    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100%; */
}

tbody {
    table-layout: fixed;
    width: 1;

    padding-bottom: 100%;
    
    
}

td, tr {
    /* border: 1px solid #999; */
    padding: 0.5rem;
    display: absolute;

    table-layout: fixed;
    margin-top: 50%;
}

td {
    background-image: url(empty-inv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#total-count {
    background-image: url(empty-points.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 