* {
    margin: 0;
    padding: 0;
}

@media screen and (max-device-width: 900px) {
    #skill-window {
        vertical-align: middle;
        min-width: 100%;
        min-height: 100%;
    }
}
@media screen and (min-device-width: 900px) and (max-device-width: 1290px) {
    #skill-window {
        vertical-align: middle;
        min-width: 60%;
        min-height: 60%;
    }
}
@media screen and (min-device-width: 1290px) {
    #skill-window {
        vertical-align: middle;
        min-width: 35%;
        min-height: 35%;
    }
}

@media screen and (max-device-width: 699px){
    .inv-cell {
        height: 6rem;
        width: 12.5rem;
    }
    p, button, input {
        font-size: 200%;
    }
}
@media screen and (min-device-width: 700px) {
    .inv-cell {
        height: 6rem;
        width: 13rem;
    }
    p, button, input {
        font-size: 200%;
    }
}
@media screen and (min-device-width: 800px) {
    .inv-cell {
        height: 5rem;
        width: 12rem;
    }
    p, button, input {
        font-size: 200%;
    }
}
@media screen and (min-device-width: 900px) {
    .inv-cell {
        height: 3.5rem;
        width: 8.2rem;
    }

    p, button, input {
        font-size: 130%;
    }
}
@media screen and (min-device-width: 1000px) {
    .inv-cell {
        height: 4rem;
        width: 9rem;
    }

    p, button, input {
        font-size: 160%;
    }
}


html {
    height: 100%;
    background-image: url("media/images/OSRS-ge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
body {
    display: grid;
    place-items: center;
    align-content: center;  

    margin-left: 5%;
    margin-right: 5%;

    min-height: 100%;
}
 
@font-face {
    font-family: 'osrs';
    src: url('media/fonts/RuneScape-Plain-12.ttf') format('truetype');
}

p, button, input, input::placeholder {
    color: yellow;
    justify-self: center;
    font-family: "osrs";
}

input::placeholder {
    opacity: 60%;
}

.inv-num, .inv-den{
    max-height: 1.6rem;
    max-width: 1.6rem;

    background: none;
    text-align: end;
    border-width: 0.02rem;
}

button {
    min-height: 110%;
    min-width: 110%;
    background-image: url(media/images/empty-points.jpg);
}

#settings {
    display: flex;
    flex-direction: row;
}

#test{
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center;

    text-align: center;
}

#rs-table {
    position:absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.inv-cell {
    background-image: url("media/images/empty-inv.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.75fr 25px auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "img . frac"
    "slide slide slide"
}

.inv-fraction {
    margin-right:25%;

    display:grid;
    place-items: center;
    grid-area: frac;
    grid-template-rows: 1fr 1% 1fr;
    grid-template-columns: 1fr 1% 1fr;
    grid-template-areas: 
    "num . ."
    ". . ."
    ". . den";
}

.inv-den {
    text-align: right;
    grid-area: den;
}

.inv-num {
    text-align: left;
    grid-area: num;
}

.inv-img, .img-input {
    margin-left: 1.5rem;
    grid-area: img;

    height: 70%;
    width: 80%;
}


#total-count {
    background-image: url("media/images/empty-points.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    table-layout: fixed;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    overflow:hidden;
}

.inv-img {
    /* background-image: url(media/images/heart-skill.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: transparent;

    border: none;

}

.lv-slider {
    justify-self: baseline;
    grid-area: slide;
    height: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
}

.inv-img:hover {
    border: 1px solid yellow;
}

input[type='file'] {
    color: transparent;
    visibility:hidden;
}